.paragraph--type--solicitar-info {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: var(--artemis-doctor);
  padding-bottom: 55px;
  padding-top: 55px;
  margin-top: 50px;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .field--name-field-enlace {
    a {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
      color: var(--artemis-steel-blue);
      text-decoration: none;
      width: 100%;
      justify-content: end;
      display: flex;
      align-items: center;
      gap: .5rem;

      &::after {
          content: '';
          display: block;
          height: .75rem;
          width: 1rem;
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 12L8.6 10.55L12.15 7H0V5H12.15L8.6 1.45L10 0L16 6L10 12Z' fill='%232A7193'/%3E%3C/svg%3E%0A");
      }
    }
  }

  .field--name-field-mensaje {
    display: flex;
    align-items: center;
    color: var(--artemis-sodalite-blue);
    font-weight: 700;
    font-size: 1.5rem !important;
    margin-right: 100px;
    margin-left: 100px;
  }
}


@media (max-width: 992px) {
  .paragraph--type--solicitar-info {
    .container {
      display: block;
      text-align: center;
    }

    .field--name-field-mensaje {
      padding-bottom: 16px;
      margin: 0;
      font-size: 20px !important;
    }
  }
}